@import './colors/standard-colors';
@import './standard-fonts';
@import './nav';

main {
  padding: 6rem 2rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
}

body {
  background-color: $nebula-green;
  font-family: $standard-font;
  color: $text-beige;
}

.Home, .Results, .QuerentProfile {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.Application {
  border-color: $brand-black;
}

h3 {
  font-size: 1rem;
}

.container {
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: $nebula-light-blue;
}

@import './button';
@import './daypicker';
