@import './colors/standard-colors';
@import './standard-fonts';

main {
  padding: 6rem 2rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
}

body {
  background-color: $nebula-green;
  font-family: $standard-font;
  color: $text-beige;
}

.navbar {
  color: $night-sky-navy-dark;
  background-color: $mauve-pink;
  border-color: $brand-black;
}

.navbar-brand {
  color: $brand-black;
  font-family: 'Berkshire Swash', cursive;
}

.Home, .Results, .QuerentProfile {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.Application {
  border-color: $brand-black;
}

h3 {
  font-size: 1rem;
}

.DayPickerInput-Overlay {
  z-index: 99;
}

.DayPicker {
  color: $nebula-purple;
}

.container {
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: $nebula-light-blue;
}

.button {
  background-color: $rose-pink;
  color: $text-beige;
}