main {
  padding: 6rem 2rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
}

.navbar {
  color: #ededfb;
  background-color: #222;
  border-color: #080808;
}

.Home, .QuerentProfile {
  margin-bottom: 2rem;
  color: #faa;
  border: 0.01em solid #d3d3d3;
  border-radius: .50em;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.Application {
  border-color: black;
}

h3 {
  font-size: 1rem;
}

.DayPickerInput-Overlay {
  z-index: 99;
}
