$wine-red: #5B1322;
$pastel-gold: #ffec85;
$dusk-orange: #AC633E;
$night-sky-navy-med: #2e4482;
$night-sky-navy-light: #546bab;
$night-sky-grey: #87889c;
$night-sky-lavendar: #bea9de;
$nebula-navy: #1e305e;
$nebula-magenta: #9b5b88;
$mauve-pink: #D29495;
$night-sky-navy-dark: #131862;
$rose-pink: #AA5761;
$nebula-purple: #251539;