$nebula-green: #499986;
$text-beige: #F5F5DC;
$nebula-light-blue: #b3d1d2;
$brand-black: #080808;

$astro-gold: #DFBF7D;
$astro-purple-dark: #222643;
$astro-purple-med: #3D4870;
$astro-purple-light: #5E7AA6;
$astro-skyblue: #81A4C0;

$astro-red-purple: #422437;